PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://vasasravani1103_db_user:MyPassword12345@cluster0.v0wjsop.mongodb.net/businessapp?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=MyPasswordBizBuilderMyPasswordBizBuilder
CORS_ORIGIN=http://localhost:5173
API_URL=http://localhost:5000
CLOUDINARY_CLOUD_NAME=n0cf28ib
CLOUDINARY_API_KEY=837854582563788
CLOUDINARY_API_SECRET=Np9Mrj1rCuF3izBMo4lDgwLUBV8
